/*TODO: Look for font
   Add flexbox
   Background image and overlay filter color?*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Oxygen&display=swap');

:root {
    --color-white: #f5f4f4;
    --color-darkblue: #0c0c32;
    --color-darkblue-alpha: rgba(2, 2, 57, 0.8);
    --color-green: #2c9d9d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
            115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

header {
    text-align: center;
}

form {
    border: solid thin #ccc;
    width: 20.5rem;
}

.form-body {
    display: flex;
    flex-flow: column nowrap;
}

fieldset {
    border: none;
}

input {
    width: 90%;
    height: 2rem;
}

select {
    max-width: 13.5rem;
}

#comment-area textarea {

}

#course-time {
    /*display: none;*/
}

#morale fieldset {
    display: flex;
    flex-flow: row wrap;
}

input[type="checkbox"] {
    height: 1.3rem;
}

